#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";
        default_layer {
            bindings = <
                &kp ESC   &kp Q &kp W &kp E &kp R &kp T
                &kp TAB   &kp A &kp S &kp D &kp F &kp G
                &kp LSHFT &kp Z &kp X &kp C &kp V &kp B
                &kp LCTRL &kp LALT &kp LGUI &kp SPACE &kp ENTER &kp BKSP
                &kp M     &kp N &kp O &kp P &kp Q     &kp R
            >;
        };
    };
};
